PyCt6>=6.1.0
PySide6>=6.5
pydicom>=2.4
pylibjpeg>=2.0
pylibjpeg-libjpeg>=2.3
pylibjpeg-openjpeg>=2.0
numpy>=1.24
opencv-python>=4.8
scikit-image>=0.21
imageio>=2.33
tifffile>=2022.8.12
lazy-loader>=0.4
Pillow>=10.0
PyYAML>=6.0
tqdm>=4.66
Shapely>=2.0
pyclipper>=1.3
onnxruntime>=1.18
rapidocr-onnxruntime>=1.3
openpyxl>=3.1
scipy>=1.11
torch>=2.0
torchvision>=0.15
segment-anything
